rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{doc} {
      allow read, write: if true;
    }
    match /payments/{doc} {
      allow read, write: if true;
    }
    match /zelle_queue/{doc} {
      allow read, write: if true;
    }
    match /settings/{doc} {
      allow read, write: if true;
    }
  }
}
